<div id="title">ChitChat with {{name}}</div>

<div id="chat-window">
    <div *ngIf="isDefaultUser" class="error">Using Default User since Name was not provided</div>

    <div class="chat-display-box">
        <div *ngFor='let usermessage of messageHistory'>
            <span class="chat-user" [style.color]="usermessage.user === 'Echobot' ? 'red' : '#004677'">{{usermessage.user}}:</span><span class="chat-message">{{usermessage.message}}</span>
        </div>
        <span #scroll></span>
    </div>

    <div>
        <vdl-form-field class="message-input-box">
            <input vdlInput placeholder="Message" [(ngModel)]="message" (keydown.enter)="onSend()">
        </vdl-form-field>

        <button vdl-primary-button (click)="onSend()">Send</button>
    </div>
    <span *ngIf="isEmptyMessage" class="error">Please enter a message!</span>
</div>